* {
    margin: 5px;
    padding: 5px;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: orange;
    text-transform: uppercase;
}

h2 {
    margin: 1rem 0 0;
    color: orange;
    font-size: large;
    text-transform: uppercase;
}

input,
label,
select {
    padding: 2px;
}

label {
    display: inline;
    font-size: 1rem;
   margin-top: 0.1rem;
}

#price {
    font-weight: 700;
    color: orange;
}

button {
    background-color: orange;
    border-radius: 10%;
    font-weight: bold;
    font-size: larger;
}

.bottom-texts {
    font-size: small;
}

.container {
    display: flex;
}

.image {
max-width: 60%;
object-fit: cover;
}


.bottom-texts {
    text-align: right;
}